.auth-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  p-card {
    width: 350px;
    padding: 2rem;
  }

  .field {
    margin-bottom: 1.2rem;
    label {
      display: block;
      margin-bottom: 0.3rem;
      font-weight: 600;
    }
  }
}
