.chessboard-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  .board {
    display: grid;
    grid-template-rows: repeat(8, 60px);
    grid-template-columns: repeat(8, 60px);
    border: 2px solid #333;

    .cell {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      cursor: pointer;

      &.white-cell {
        background-color: #f0d9b5;
      }

      &.black-cell {
        background-color: #b58863;
      }

      &:hover {
        outline: 2px solid #00f;
      }
    }
  }
}
